body{
    margin: 0;
    padding: 0;
    background-color: #141D34;
}
.mainContent{
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/BGONE.png');
    background-size:contain;
    height: 58vw;
}

@media screen and (max-width: 768px) {
    .mainContent{
        background-image: none;
        margin-bottom: 70vw;
    }
}