.sampleBtn{
    /* carregamento da fonte */
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    /* Resto do estilo */
    font-size: 2.5vw;
    width: 20vw;
    height: 5vw;
    border-radius: 50px;
    cursor:  pointer;
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to right, #106A9E, rgba(50, 161, 226, 0.27));
    border: none;
    transition: 0.5s;
}

.sampleBtn:hover{
    width: 21vw;
    height: 5.5vw;
    font-size: 2.8vw;
}

@media screen and (max-width: 768px) {
    .sampleBtn{
        width: 50vw;
        height: 10vw;
        font-size: 5vw;
    }
}