.itemProduto{
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.cardDiv{
    background-color: white;
    margin: 10vh 5vh 10vh 5vh;
    border-radius: 2vw;
    text-align: center;
    padding-top: 2vh;
    transition: 0.5s;
}
.cardDiv:hover{
    opacity: 0.2;
}
.titleCard{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;

    font-size: 2vw;
}
.imgProduto{
    width: 18vw;
    border-radius: 30px;
}

.aProduto{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .imgProduto{
        width: 50vw;
    }
    .titleCard{
        font-size: 5vw;
    }
    .itemProduto{
        margin: 0;
        width: 100%;
        padding: 0;
        height: 70vw;
    }
}