.Carrossel{
    width: 60vh;
    height: 60vh;
    margin-top: 10vh;
    margin-right: 10vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}
.imgCard{
    width: auto;
    height: 50vh;
    margin-left: 5vh;
}