.Carrossel{
    width: 33vw;
    margin-top: 10vh;
    margin-right: 10vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.imgCard{
    width: auto;
    height: 50vh;
    margin-left: 5vh;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .Carrossel{
        width: 42vw;
        margin: 5vh 0 auto;
    }
    .imgCard{ 
        height: 35vw;
        margin-left: 4vw;
    }
}