.conteudoWho{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom, #141D34, black);
}
.leftContentWho{
    height: 100%;
    width: 20%;
    border-right: 1px solid #293C6B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.itemLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleLeft{
    color: white;
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.1vw;
    margin: 0;
}
.subtitleLeft{
    color: white;
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    margin: 0;
}




.rightContentWho{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textoContent{
    width: 70%;
}
.textoContentp{
    color: white;
    font-size: 1.3vw;
    text-align: center;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.itensContent{
    color: white;
    margin-top: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.itemContent{
    width: 15vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleItem{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
.textItem{
    text-align: center;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
@media screen and (max-width: 768px) {
    .conteudoWho{
        flex-direction: column;
        height: auto;
    }
    .leftContentWho{
        flex-direction: row;
        width: 100%;
        border: none;
        border-bottom: 1px solid #293C6B;
        height: 30vw;
    }
    .titleLeft{
        font-size: 7vw;
    }
    .subtitleLeft{
        font-size: 4vw;
    }
    .rightContentWho{
        width: 100%;
        height: auto;
    }
    .textoContentp{
        font-size: 4vw;
    }
    .itensContent{
        margin-top: 5vh;
    }
    .itemContent{
        width: 30vw;
    }
    .textItem{
        font-size: 3vw;
    }
}