.contactContent{
    height: 80vh;
    background-image: linear-gradient(to bottom, #141D34, black);
}

.infosContato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.leftContentContact{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #293C6B;
}
.rightContentContact{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamanho{
    width: 70vh;
}
.emailEnviar{
  width: 35%;
  margin: 0 auto;
  text-align: center;
  padding: 1vw;
  background-color: #141D34;
  border-radius: 5vw;
  transition: 0.5s;
}
.emailEnviar:hover{
  cursor: pointer;
  font-size: 1.4vw;
  width: 38%;
}
.linkEmailEnviar {
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 1.3vw;
  transition: 0.5s;
}
.linkEmailEnviar p{
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}




.form-container {
    width: 35vw;
    background: linear-gradient(#0c1220, #0c1220) padding-box,
                linear-gradient(145deg, transparent 35%,#0478FF, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 2.2vw 1.6vw;
    font-size: 0.92vw;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 0.3vw;
    color: #717171;
    font-weight: 600;
    font-size: 0.8vw;
  }
  
  .form-container .form-group input {
    width: 90%;
    padding: 0.8vw 1.1vw;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 90%;
    padding: 0.8vw 1.1vw;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 6.6vw;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #0478FF;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #0478FF;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: inherit;
    color: #5787bd;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 0.8vw 1.1vw;
    font-size: inherit;
    gap: 0.5vw;
    margin-top: 0.5vw;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  @media screen and (max-width: 768px) {
    .infosContato{
      flex-direction: column;
      height: 144vw;
      justify-content: space-around;
    }
    .tamanho{
      width: 100%;
    }
    .contactContent{
      height: auto;
    }
    .form-container{
      font-size: 3vw;
    }
    .form-container .form-group label{
      font-size: 3vw;
    }
    .rightContentContact{
      width: 100%;
    }
    .leftContentContact{
      border: none;
    }
    .form-container{
      width: 400px;
      height: 40vw;
    }
  }