.mainContentWho{
    width: 100%;
    height: 30vw;
    background-image: url('../images/BACKGROUND1.png');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.infosWho{
    margin-left: 8vw;
    display: flex;
    position: absolute;
    margin-top: 20vh;
}

.divLogo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logoWho{
    width: 100%;
}
.divTitle{
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.titleWho{
    color: white;
    font-size: 10%;

    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
.blueTitle{
    margin-left: 3vh;
    color: #3793FF;
}

@media screen and (max-width: 768px) {
    .mainContentWho{
        height: 10vw;
    }
    .infosWho{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10vw;
        font-size: 2vw;
    }
    .titleWho{
        font-size: 2vw;
    }
    .divTitle{
        justify-content: center;
    }
}