.produtoPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleProduct{
    color: white;
    font-size: 11vh;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;

    padding: 0;
    margin: 0;
    position: absolute;
    top: 30vh;
    margin-left: 10vh;
}
.produtosInfos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.imagemProdutoAtual{
    width: 60vh;
    border-radius: 4vh;
}
.imagemCatalogo{
    width: 60vh;
}

.produtoDescription{
    width: 80vh;
    height: auto;
    background-color: rgba(11, 110, 197, 0.212);
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}
.pDescriptionProduct{
    color: white;
}